name: Create Release Branch
on:
  workflow_dispatch:
    inputs:
      version_number:
        description: 'The number for this release in the format: 0.0.0'
        required: true
      version_toolname:
        description: 'The tool name for this release such as: axe'
        required: true

jobs:
  create_release_branch:
    runs-on: ubuntu-20.04
    outputs:
      release_branch: release-${{ steps.get_version.outputs.version }}
    steps:
      - name: Checkout develop branch
        uses: actions/checkout@v2
        with:
          ref: "develop"
      - name: Update version file
        run: echo '${{ github.event.inputs.version_number }}-${{ github.event.inputs.version_toolname }}' > version.txt
      - name: Export version
        run: echo ::set-output name=version::$(cat version.txt)
        id: get_version
      - name: Export short version
        # this sed drops the patch version from the name changing 1.2.3-axe into 1.2-axe
        run: echo ::set-output name=version::$(cat version.txt | sed "s/\([0-9]\.[0-9]\).[0-9]/\1/g")
        id: get_version_short

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install requirements
        run: python install.py

      #- name: Run tests
      #  run: invoke test
      #- name: Run lint check
      #  run: invoke lint
      #- name: Run format check
      #  run: invoke format

      - name: Build docs
        run: invoke docs

      - name: Remove previous latest doc
        run: rm -r docs/latest

      - name: Move docs to online pages location
        run: cp -r docs/_draft_build docs/${{ steps.get_version_short.outputs.version }} && cp -r docs/_draft_build docs/latest

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: release-${{ steps.get_version.outputs.version }}
          message: Release ${{ steps.get_version.outputs.version }}

      - name: pr-develop
          uses: vsoch/pull-request-action@1.0.6
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            PULL_REQUEST_BRANCH: "develop"
            PULL_REQUEST_TITLE: Merge develop with ${{ needs.create_release_branch.outputs.release_branch }}

      - name: pr-main
          uses: vsoch/pull-request-action@1.0.6
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            PULL_REQUEST_BRANCH: "main"
            PULL_REQUEST_TITLE: Merge main with ${{ needs.create_release_branch.outputs.release_branch }}


#
#  create-pr-main:
#    runs-on: ubuntu-20.04
#    needs: [create_release_branch]
#    steps:
#      - name: Checkout release branch
#        uses: actions/checkout@v2
#        with:
#          ref: ${{ needs.create_release_branch.outputs.release_branch }}
#      - uses: peter-evans/create-pull-request@v3
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          commit-message: Merge main with ${{ needs.create_release_branch.outputs.release_branch }}
#          title: Merge main with ${{ needs.create_release_branch.outputs.release_branch }}
#          base: main
#          branch: ${{ needs.create_release_branch.outputs.release_branch }}
#
#  create-pr-develop:
#    runs-on: ubuntu-20.04
#    needs: [create_release_branch]
#    steps:
#      - name: Checkout release branch
#        uses: actions/checkout@v2
#        with:
#          ref: ${{ needs.create_release_branch.outputs.release_branch }}
#      - uses: peter-evans/create-pull-request@v3
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          commit-message: Merge develop with ${{ needs.create_release_branch.outputs.release_branch }}
#          title: Merge develop with ${{ needs.create_release_branch.outputs.release_branch }}
#          base: develop
#          branch: ${{ needs.create_release_branch.outputs.release_branch }}
